@font-face {
  font-family: msyh;
  src: url('font/msyh.ttc') format('truetype');
}

.toptext {
  font-size: 50px;
  margin-left: 720px;
}

a {
  text-decoration: none;
}

.subtext {
  margin-top: 70px;
  font-size: 30px;
  margin-left: 720px;
}

html {
  height: 100%;
}

body {
  background-image: url(image/bk3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: msyh, sans-serif;
  color: white;
}

.image-container img {
  margin-top: 500px;
  margin-bottom: 50px;
}

.shape-ex11 {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 40px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  position: relative;
  transition: all .3s linear;
  margin-top: 30px;
  margin-left: 720px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: xxx-large;
}

.shape-ex11>p {
  position: relative;
  z-index: 1;
}

.shape-ex11::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s linear;
}

.shape-ex11::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all .3s ease;
}

.shape-ex11:hover::before,
.shape-ex11:hover::after {
  width: 100%;
  height: 100%;
}

.right-hr {
  margin-left: auto;
  border: none;
  border-top: 1px solid rgb(255, 255, 255);
  width: 50%;
  float: right;
}

.center-right {
  text-align: right;
  display: flex;
  justify-content: center;
}